/* Base styles */

a strong {
  color: inherit;
}

hr {
  background: none;
  border: none;
  border-bottom: 1px solid #d8dee9;
}

img {
  height: auto;
  max-width: 100%;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 4em;
  text-align: center;
}

footer a {
  margin-left: 1em;
  margin-right: 1em;
}

/* 01 Centering */

header,
main {
  margin: 0 auto;
  max-width: 50em;
}

/* 02 Font family */

body {
  font-family: "Helvetica", "Arial", sans-serif;
}

/* 03 Spacing */

body {
  line-height: 1.5;
  padding: 4em 1em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

/* 04 Color and contrast */

body {
  color: #555;
}

h1,
h2,
strong {
  color: #333;
}

/* 05 Balance */

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

/* 06 Primary color */

a {
  color: #e81c4f;
}

/* 07 Secondary colors */

body {
  background: white;
  color: #566b78;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: initial;
}

pre {
  border-left: 2px solid #69c;
}

.selector {
  color: #ec5f67;
}

.keyword {
  color: #ab7967;
}

.unit {
  color: #fac863;
}

.attribute {
  color: #5fb3b3;
}

.number {
  color: #f99157;
}

.string {
  color: #c594c5;
}

/* 08 Custom font */

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
strong {
  font-weight: 500;
  margin-top: 1.5em;
}

/* 09 Images */

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 4em 1em;
}

header {
  background-color: #263d36;
  background-image: url("header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  max-width: none;
  padding: 10vw 2em;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
  text-shadow: 0px 0px 3px #000;
  margin-top: 2em;
}

header h2 {
  color: #ddd;
  text-shadow: 0px 0px 3px #000;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 2em;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background: #e81c4f;
  color: white;
}

section {
  font-size: 2em;
}

@media (max-width: 40em) {
  section {
    font-size: 1.5em;
  }
}

section li {
  margin-bottom: 0.5em;
}

#content {
  margin-top: 0.5em;
}

#content img {
  width: 128px;
  height: 128px;
  border-radius: 200px;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

nav {
  text-align: center;
  font-size: 1.5em;
}

nav ul {
  padding-left: 0px;
}

nav ul li {
  display: inline-block;
  border-left: 2px solid #888;
  margin-left: 1em;
  padding-left: 1em;
}

nav ul li:before {
}

nav ul li:first-child {
  border-left: none;
  margin: 0px;
  padding: 0px;
}

nav ul li a {
  color: #111;
  text-decoration: none;
}

#bbox {
  text-align: center;
}

a.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #e81c4f;
  color: white;
  border-radius: 4px;
  padding: 0.75em;
  font-weight: bold;
}

#posts .post {
  margin-bottom: 3em;
}

#posts .post > h3 {
  margin-bottom: 0em;
}

#posts .post h3 a {
  font-size: 0.75em;
  font-weight: bold;
  color: #333;
  text-decoration: none !important;
}

#posts .post .date {
  color: #aaa;
}

#posts .post img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#posts .post p {
  text-align: justify;
}

/* tinysignup */

.tinysignup {
  text-align: center;
}

.tinysignup p {
  text-align: center;
  margin-top: 4em;
}

.tinysignup input {
  border: 2px solid silver;
  padding: 0.25em;
  font-size: 1em;
  width: 20em;
  max-width: 100%;
  border-radius: 5px;
  margin-top: 0.25em;
}

.tinysignup button {
  border: 2px solid #e81c4f;
  padding: 0.2em 1.5em;
  font-size: 1em;
  border-radius: 5px;
  background-color: #e81c4f;
  color: white;
  margin-top: 0.25em;
  margin-left: 0.25em;
}

.tinysignup .spinner {
  
}

.tinysignup .message {
  border: 2px solid #e81c4f;
  padding: 0.5em 1.5em;
  font-size: 1em;
  background-color: #e81c4f;
  color: white;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #e81c4f;
  border-radius: 5px;

  margin: 40px auto;
  animation: spinner 1.2s infinite ease-in-out;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes spinner {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

